@mixin properties {
	--primary: #1f3747;
	--on-primary: #ffffff;
	--primary-container: #bbced7;
	--on-primary-container: #1f3747;

	--secondary: #728693;
	--on-secondary: #ffffff;
	--secondary-container: #d8e2e2;
	--on-secondary-container: #1f3747;

	--tertiary: #bbced7;
	--on-tertiary: #1f3747;
	--tertiary-container: #60a5ff;
	--on-tertiary-container: #000a47;

	--background: #f0f4f5;
	--on-background: #1f3747;
	--surface: #ffffff;
	--on-surface: #1f3747;

	--surface-variant: #f0f4f5;

	--outline: #b7b7c578;
	--outline-variant: #c1c7cf;
	--outline-variant: #bcc7c8;

	--error: #f44336;
	--on-error: #ffffff;
	--error-container: #ffdad6;
	--on-error-container: #400002;

	--success: #008e3c;
	--on-success: #ffffff;
	--success-container: #58c68c;
	--on-success-container: #002204;

	--warning: #ba5000;
	--on-warning: #ffffff;
	--warning-container: #f3a757;
	--on-warning-container: #422400;

	--info: #005fa4;
	--on-info: #ffffff;
	--info-container: #3ca3ff;
	--on-info-container: #002025;

	--primary-shadow: 0px 2px 8px #58585833;
	--secondary-shadow: -5px 12px 2px 3px #58585833;
	--modal-background-color: #00000080;

	--neutral: #f5f7f7;
	--on-neutral: #1f3747;
}
